:root {
	--accent-50: var(--green-50);
	--accent-100: var(--green-100);
	--accent-200: var(--green-200);
	--accent-300: #00ff00;
	--accent-400: #69ff55;
	--accent-500: #51e74c;
	--accent-600: #008000;
	--accent-700: var(--green-700);
	--accent-800: var(--green-800);
	--accent-900: var(--green-900);


	--rose-50: #fff1f2;
	--rose-100: #ffe4e6;
	--rose-200: #fecdd3;
	--rose-300: #fda4af;
	--rose-400: #fb7185;
	--rose-500: #f43f5e;
	--rose-600: #e11d48;
	--rose-700: #be123c;
	--rose-800: #9f1239;
	--rose-900: #881337;
	--pink-50: #fdf2f8;
	--pink-100: #fce7f3;
	--pink-200: #fbcfe8;
	--pink-300: #f9a8d4;
	--pink-400: #f472b6;
	--pink-500: #ec4899;
	--pink-600: #db2777;
	--pink-700: #be185d;
	--pink-800: #9d174d;
	--pink-900: #831843;
	--fuchsia-50: #fdf4ff;
	--fuchsia-100: #fae8ff;
	--fuchsia-200: #f5d0fe;
	--fuchsia-300: #f0abfc;
	--fuchsia-400: #e879f9;
	--fuchsia-500: #d946ef;
	--fuchsia-600: #c026d3;
	--fuchsia-700: #a21caf;
	--fuchsia-800: #86198f;
	--fuchsia-900: #701a75;
	--purple-50: #faf5ff;
	--purple-100: #f3e8ff !important;
	--purple-200: #e9d5ff;
	--purple-300: #d8b4fe;
	--purple-400: #c084fc;
	--purple-500: #a855f7;
	--purple-600: #9333ea;
	--purple-700: #7e22ce;
	--purple-800: #6b21a8;
	--purple-900: #581c87;
	--violet-50: #f5f3ff;
	--violet-100: #ede9fe;
	--violet-200: #ddd6fe;
	--violet-300: #c4b5fd;
	--violet-400: #a78bfa;
	--violet-500: #8b5cf6;
	--violet-600: #7c3aed;
	--violet-700: #6d28d9;
	--violet-800: #5b21b6;
	--violet-900: #4c1d95;
	--indigo-50: #eef2ff;
	--indigo-100: #e0e7ff;
	--indigo-200: #c7d2fe;
	--indigo-300: #a5b4fc;
	--indigo-400: #818cf8;
	--indigo-500: #6366f1;
	--indigo-600: #4f46e5;
	--indigo-700: #4338ca;
	--indigo-800: #3730a3;
	--indigo-900: #312e81;
	--blue-50: #eff6ff;
	--blue-100: #dbeafe !important;
	--blue-200: #bfdbfe;
	--blue-300: #93c5fd;
	--blue-400: #60a5fa;
	--blue-500: #3b82f6;
	--blue-600: #2563eb;
	--blue-700: #1d4ed8;
	--blue-800: #1e40af;
	--blue-900: #1e3a8a;
	--sky-50: #f0f9ff;
	--sky-100: #e0f2fe;
	--sky-200: #bae6fd;
	--sky-300: #7dd3fc;
	--sky-400: #38bdf8;
	--sky-500: #0ea5e9;
	--sky-600: #0284c7;
	--sky-700: #0369a1;
	--sky-800: #075985;
	--sky-900: #0c4a6e;
	--cyan-50: #ecfeff;
	--cyan-100: #cffafe !important;
	--cyan-200: #a5f3fc;
	--cyan-300: #67e8f9;
	--cyan-400: #22d3ee;
	--cyan-500: #06b6d4;
	--cyan-600: #0891b2;
	--cyan-700: #0e7490;
	--cyan-800: #155e75;
	--cyan-900: #164e63;
	--teal-50: #f0fdfa;
	--teal-100: #ccfbf1 !important;
	--teal-200: #99f6e4;
	--teal-300: #5eead4;
	--teal-400: #2dd4bf;
	--teal-500: #14b8a6;
	--teal-600: #0d9488;
	--teal-700: #0f766e;
	--teal-800: #115e59;
	--teal-900: #134e4a;
	--emerald-50: #ecfdf5;
	--emerald-100: #d1fae5;
	--emerald-200: #a7f3d0;
	--emerald-300: #6ee7b7;
	--emerald-400: #34d399;
	--emerald-500: #10b981;
	--emerald-600: #059669;
	--emerald-700: #047857;
	--emerald-800: #065f46;
	--emerald-900: #064e3b;
	--green-50: #f0fdf4;
	--green-100: #dcfce7 !important;
	--green-200: #bbf7d0;
	--green-300: #86efac;
	--green-400: #4ade80;
	--green-500: #22c55e;
	--green-600: #16a34a;
	--green-700: #15803d;
	--green-800: #166534;
	--green-900: #14532d;
	--lime-50: #f7fee7;
	--lime-100: #ecfccb;
	--lime-200: #d9f99d;
	--lime-300: #bef264;
	--lime-400: #a3e635;
	--lime-500: #84cc16;
	--lime-600: #65a30d;
	--lime-700: #4d7c0f;
	--lime-800: #3f6212;
	--lime-900: #365314;
	--yellow-50: #fefce8;
	--yellow-100: #fef9c3 !important;
	--yellow-200: #fef08a;
	--yellow-300: #fde047;
	--yellow-400: #facc15;
	--yellow-500: #eab308;
	--yellow-600: #ca8a04;
	--yellow-700: #a16207;
	--yellow-800: #854d0e;
	--yellow-900: #713f12;
	--amber-50: #fffbeb;
	--amber-100: #fef3c7;
	--amber-200: #fde68a;
	--amber-300: #fcd34d;
	--amber-400: #fbbf24;
	--amber-500: #f59e0b;
	--amber-600: #d97706;
	--amber-700: #b45309;
	--amber-800: #92400e;
	--amber-900: #78350f;
	--orange-50: #fff7ed;
	--orange-100: #ffedd5 !important;
	--orange-200: #fed7aa;
	--orange-300: #fdba74;
	--orange-400: #fb923c;
	--orange-500: #f97316;
	--orange-600: #ea580c;
	--orange-700: #c2410c;
	--orange-800: #9a3412;
	--orange-900: #7c2d12;
	--red-50: #fef2f2;
	--red-100: #fee2e2 !important;
	--red-200: #fecaca;
	--red-300: #fca5a5;
	--red-400: #f87171;
	--red-500: #ef4444;
	--red-600: #dc2626;
	--red-700: #b91c1c;
	--red-800: #991b1b;
	--red-900: #7f1d1d;
	--warmGray-50: #fafaf9;
	--warmGray-100: #f5f5f4;
	--warmGray-200: #e7e5e4;
	--warmGray-300: #d6d3d1;
	--warmGray-400: #a8a29e;
	--warmGray-500: #78716c;
	--warmGray-600: #57534e;
	--warmGray-700: #44403c;
	--warmGray-800: #292524;
	--warmGray-900: #1c1917;
	--trueGray-50: #fafafa;
	--trueGray-100: #f5f5f5;
	--trueGray-200: #e5e5e5;
	--trueGray-300: #d4d4d4;
	--trueGray-400: #a3a3a3;
	--trueGray-500: #737373;
	--trueGray-600: #525252;
	--trueGray-700: #404040;
	--trueGray-800: #262626;
	--trueGray-900: #171717;
	--gray-50: #fafafa;
	--gray-100: #f4f4f5 !important;
	--gray-200: #e4e4e7;
	--gray-300: #d4d4d8;
	--gray-400: #a1a1aa;
	--gray-500: #71717a;
	--gray-600: #52525b;
	--gray-700: #3f3f46;
	--gray-800: #27272a;
	--gray-900: #18181b;
	--coolGray-50: #f9fafb;
	--coolGray-100: #f3f4f6;
	--coolGray-200: #e5e7eb;
	--coolGray-300: #d1d5db;
	--coolGray-400: #9ca3af;
	--coolGray-500: #6b7280;
	--coolGray-600: #4b5563;
	--coolGray-700: #374151;
	--coolGray-800: #1f2937;
	--coolGray-900: #111827;
	--blueGray-50: #f8fafc;
	--blueGray-100: #f1f5f9;
	--blueGray-200: #e2e8f0;
	--blueGray-300: #cbd5e1;
	--blueGray-400: #94a3b8;
	--blueGray-500: #64748b;
	--blueGray-600: #475569;
	--blueGray-700: #334155;
	--blueGray-800: #1e293b;
	--blueGray-900: #0f172a;
  }



body.hacker-green {
	--accent-300: #00ff00 !important;
	--accent-400: #69ff55 !important;
	--accent-500: #51e74c !important;
	--accent-600: #008000 !important;
	--accent-800: var(--green-800) !important;
}

body.white {
	--accent-300: white !important;
	--accent-400: var(--gray-200) !important;
	--accent-500: var(--gray-300) !important;
	--accent-600: var(--gray-600) !important;
}

body.rose {
	--accent: var(--rose-500);
	--accent-hover: var(--rose-600);
	--accent-50: var(--rose-50) !important;
	--accent-100: var(--rose-100) !important;
	--accent-200: var(--rose-200) !important;
	--accent-300: var(--rose-300) !important;
	--accent-400: var(--rose-400) !important;
	--accent-500: var(--rose-500) !important;
	--accent-600: var(--rose-600) !important;
	--accent-700: var(--rose-700) !important;
	--accent-800: var(--rose-800) !important;
	--accent-900: var(--rose-900) !important;
}

body.pink {
	--accent: var(--pink-500);
	--accent-hover: var(--pink-600);
	--accent-50: var(--pink-50) !important;
	--accent-100: var(--pink-100) !important;
	--accent-200: var(--pink-200) !important;
	--accent-300: var(--pink-300) !important;
	--accent-400: var(--pink-400) !important;
	--accent-500: var(--pink-500) !important;
	--accent-600: var(--pink-600) !important;
	--accent-700: var(--pink-700) !important;
	--accent-800: var(--pink-800) !important;
	--accent-900: var(--pink-900) !important;
}

body.fuchsia {
	--accent: var(--fuchsia-500);
	--accent-hover: var(--fuchsia-600);
	--accent-50: var(--fuchsia-50) !important;
	--accent-100: var(--fuchsia-100) !important;
	--accent-200: var(--fuchsia-200) !important;
	--accent-300: var(--fuchsia-300) !important;
	--accent-400: var(--fuchsia-400) !important;
	--accent-500: var(--fuchsia-500) !important;
	--accent-600: var(--fuchsia-600) !important;
	--accent-700: var(--fuchsia-700) !important;
	--accent-800: var(--fuchsia-800) !important;
	--accent-900: var(--fuchsia-900) !important;
}

body.purple {
	--accent: var(--purple-500);
	--accent-hover: var(--purple-600);
	--accent-50: var(--purple-50) !important;
	--accent-100: var(--purple-100) !important;
	--accent-200: var(--purple-200) !important;
	--accent-300: var(--purple-300) !important;
	--accent-400: var(--purple-400) !important;
	--accent-500: var(--purple-500) !important;
	--accent-600: var(--purple-600) !important;
	--accent-700: var(--purple-700) !important;
	--accent-800: var(--purple-800) !important;
	--accent-900: var(--purple-900) !important;
}

body.violet {
	--accent: var(--violet-500);
	--accent-hover: var(--violet-600);
	--accent-50: var(--violet-50) !important;
	--accent-100: var(--violet-100) !important;
	--accent-200: var(--violet-200) !important;
	--accent-300: var(--violet-300) !important;
	--accent-400: var(--violet-400) !important;
	--accent-500: var(--violet-500) !important;
	--accent-600: var(--violet-600) !important;
	--accent-700: var(--violet-700) !important;
	--accent-800: var(--violet-800) !important;
	--accent-900: var(--violet-900) !important;
}

body.indigo {
	--accent: var(--indigo-500);
	--accent-hover: var(--indigo-600);
	--accent-50: var(--indigo-50) !important;
	--accent-100: var(--indigo-100) !important;
	--accent-200: var(--indigo-200) !important;
	--accent-300: var(--indigo-300) !important;
	--accent-400: var(--indigo-400) !important;
	--accent-500: var(--indigo-500) !important;
	--accent-600: var(--indigo-600) !important;
	--accent-700: var(--indigo-700) !important;
	--accent-800: var(--indigo-800) !important;
	--accent-900: var(--indigo-900) !important;
}

body.blue {
	--accent: var(--blue-500);
	--accent-hover: var(--blue-600);
	--accent-50: var(--blue-50) !important;
	--accent-100: var(--blue-100) !important;
	--accent-200: var(--blue-200) !important;
	--accent-300: var(--blue-300) !important;
	--accent-400: var(--blue-400) !important;
	--accent-500: var(--blue-500) !important;
	--accent-600: var(--blue-600) !important;
	--accent-700: var(--blue-700) !important;
	--accent-800: var(--blue-800) !important;
	--accent-900: var(--blue-900) !important;
}

body.sky {
	--accent: var(--sky-500);
	--accent-hover: var(--sky-600);
	--accent-50: var(--sky-50) !important;
	--accent-100: var(--sky-100) !important;
	--accent-200: var(--sky-200) !important;
	--accent-300: var(--sky-300) !important;
	--accent-400: var(--sky-400) !important;
	--accent-500: var(--sky-500) !important;
	--accent-600: var(--sky-600) !important;
	--accent-700: var(--sky-700) !important;
	--accent-800: var(--sky-800) !important;
	--accent-900: var(--sky-900) !important;
}

body.cyan {
	--accent: var(--cyan-500);
	--accent-hover: var(--cyan-600);
	--accent-50: var(--cyan-50) !important;
	--accent-100: var(--cyan-100) !important;
	--accent-200: var(--cyan-200) !important;
	--accent-300: var(--cyan-300) !important;
	--accent-400: var(--cyan-400) !important;
	--accent-500: var(--cyan-500) !important;
	--accent-600: var(--cyan-600) !important;
	--accent-700: var(--cyan-700) !important;
	--accent-800: var(--cyan-800) !important;
	--accent-900: var(--cyan-900) !important;
}

body.teal {
	--accent: var(--teal-500);
	--accent-hover: var(--teal-600);
	--accent-50: var(--teal-50) !important;
	--accent-100: var(--teal-100) !important;
	--accent-200: var(--teal-200) !important;
	--accent-300: var(--teal-300) !important;
	--accent-400: var(--teal-400) !important;
	--accent-500: var(--teal-500) !important;
	--accent-600: var(--teal-600) !important;
	--accent-700: var(--teal-700) !important;
	--accent-800: var(--teal-800) !important;
	--accent-900: var(--teal-900) !important;
}

body.emerald {
	--accent: var(--emerald-500);
	--accent-hover: var(--emerald-600);
	--accent-50: var(--emerald-50) !important;
	--accent-100: var(--emerald-100) !important;
	--accent-200: var(--emerald-200) !important;
	--accent-300: var(--emerald-300) !important;
	--accent-400: var(--emerald-400) !important;
	--accent-500: var(--emerald-500) !important;
	--accent-600: var(--emerald-600) !important;
	--accent-700: var(--emerald-700) !important;
	--accent-800: var(--emerald-800) !important;
	--accent-900: var(--emerald-900) !important;
}

body.green {
	--accent: var(--green-500);
	--accent-hover: var(--green-600);
	--accent-50: var(--green-50) !important;
	--accent-100: var(--green-100) !important;
	--accent-200: var(--green-200) !important;
	--accent-300: var(--green-300) !important;
	--accent-400: var(--green-400) !important;
	--accent-500: var(--green-500) !important;
	--accent-600: var(--green-600) !important;
	--accent-700: var(--green-700) !important;
	--accent-800: var(--green-800) !important;
	--accent-900: var(--green-900) !important;
}

body.lime {
	--accent: var(--lime-500);
	--accent-hover: var(--lime-600);
	--accent-50: var(--lime-50) !important;
	--accent-100: var(--lime-100) !important;
	--accent-200: var(--lime-200) !important;
	--accent-300: var(--lime-300) !important;
	--accent-400: var(--lime-400) !important;
	--accent-500: var(--lime-500) !important;
	--accent-600: var(--lime-600) !important;
	--accent-700: var(--lime-700) !important;
	--accent-800: var(--lime-800) !important;
	--accent-900: var(--lime-900) !important;
}

body.yellow {
	--accent: var(--yellow-500);
	--accent-hover: var(--yellow-600);
	--accent-50: var(--yellow-50) !important;
	--accent-100: var(--yellow-100) !important;
	--accent-200: var(--yellow-200) !important;
	--accent-300: var(--yellow-300) !important;
	--accent-400: var(--yellow-400) !important;
	--accent-500: var(--yellow-500) !important;
	--accent-600: var(--yellow-600) !important;
	--accent-700: var(--yellow-700) !important;
	--accent-800: var(--yellow-800) !important;
	--accent-900: var(--yellow-900) !important;
}

body.amber {
	--accent: var(--amber-500);
	--accent-hover: var(--amber-600);
	--accent-50: var(--amber-50) !important;
	--accent-100: var(--amber-100) !important;
	--accent-200: var(--amber-200) !important;
	--accent-300: var(--amber-300) !important;
	--accent-400: var(--amber-400) !important;
	--accent-500: var(--amber-500) !important;
	--accent-600: var(--amber-600) !important;
	--accent-700: var(--amber-700) !important;
	--accent-800: var(--amber-800) !important;
	--accent-900: var(--amber-900) !important;
}

body.orange {
	--accent: var(--orange-500);
	--accent-hover: var(--orange-600);
	--accent-50: var(--orange-50) !important;
	--accent-100: var(--orange-100) !important;
	--accent-200: var(--orange-200) !important;
	--accent-300: var(--orange-300) !important;
	--accent-400: var(--orange-400) !important;
	--accent-500: var(--orange-500) !important;
	--accent-600: var(--orange-600) !important;
	--accent-700: var(--orange-700) !important;
	--accent-800: var(--orange-800) !important;
	--accent-900: var(--orange-900) !important;
}

body.red {
	--accent: var(--red-500);
	--accent-hover: var(--red-600);
	--accent-50: var(--red-50) !important;
	--accent-100: var(--red-100) !important;
	--accent-200: var(--red-200) !important;
	--accent-300: var(--red-300) !important;
	--accent-400: var(--red-400) !important;
	--accent-500: var(--red-500) !important;
	--accent-600: var(--red-600) !important;
	--accent-700: var(--red-700) !important;
	--accent-800: var(--red-800) !important;
	--accent-900: var(--red-900) !important;
}
