body {
	margin: auto;
	padding: 1em;
	max-width: 64em;
	font-family: "courier new", monospace;
	color: var(--accent-400);
	background: #111;
	word-wrap: break-word;
}
a, button, .theme-color-select {
	box-shadow: none;
	background-color: transparent;
	border: none;
	text-decoration: none;
	color: var(--accent-300);
	font-weight: bold;
	padding-right: 0.25em;
	font-family: "courier new", monospace;
	cursor: pointer;
}

a:hover, button:hover {
	text-decoration: underline;
}

h1 {
	text-transform: uppercase;
	color: var(--accent-400);
	font-family: monospace;
}

/* THEGOODS */
#fancyboi::before {
	content: "/";
	margin-right: 0.5rem;
}

#fancyboi.article::before {
	content: "?";
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes flash {
		50% { opacity: 0; }
	}
	@keyframes reveal {
		from { width: 2em; } /* Width of ::before */
		  to { width: 100%; }
	}
	#fancyboi {
		overflow: hidden;
		white-space: nowrap;
		animation: reveal 4s linear;
		text-overflow: "█";
	}
	#fancyboi::after {
		content: "█";
		animation: flash 0.5s step-end infinite;
	}
}
/* SDOOGEHT */

.sourceCode {
 color: var(--accent-600);
}

code > span.fl { 
 color: var(--accent-600); 
}

 /* Style the navbar */
#navbar {
	overflow: hidden;
	background-color: var(--accent-400);
	color: #222;
	z-index: 99;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 0.25em;
}

#navbar a:hover {
	background-color: var(--accent-500);
}

/* Navbar links */
#navbar a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

@media only screen and (max-width: 767px) {
    #navbar a {
        font-size: 0.875rem;
    }
}

/* Page content */
.content {
	padding-top: 5px;
}

input[type="text"],
textarea {
	background-color: #333;
	color: darkorange;
}

div.alert-warning {
	background-color: darkred;
}
div.alert-success {
	background-color: darkgreen;
}

blockquote {
    border-left: 2px solid #fb5;
    padding: 0.5em;
}	

/* Mobile */
@media (max-width: 768px) {
	td {
		display: block;
	}
}


/* CUSTOM */

.ath-img {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ath-img > img {
	max-height: 400px;
}

hr {
	width: 100%;
	height: 1px;
	box-shadow: none;
	border: none;
	background-color: #444;
	margin: 2rem 0;
}

.footer {
	border-top: 1px solid #444;
}

.fs-sm {
	font-size: 0.875rem;
}
.lh-1-5 {
	line-height: 1.5;;
}

@media only screen and (max-width: 767px) {
	.landscape-text-c {
		text-align: center !important;
	}
}

.theme-color-select {
	appearance: none;
	color: var(--accent-400);
	background-color: var(--gray-800);
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	transition: 0.15s ease-in-out;

	-webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
}

.theme-color-select:hover {
	background-color: var(--gray-700);
}

.lh-1 {
	line-height: 1;
}